<!DOCTYPE html>
<html lang="en">
<head>
    <h1>hello there</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
       {{p}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis, praesentium at ea ab asperiores omnis. Libero optio, est eos dolorum enim delectus aperiam adipisci mollitia exercitationem sint ducimus quaerat.</p>
</div>

<div>
    {{l}}
</div>


<div>
    {{k}}
</div>
    
    <!--<img src="data:image/png;base64,{{plot_url}}">-->
</body>
</html>